# This requirements file lists the Python dependencies needed to run the
# LangChain Document Loader tutorial notebook. Pinning the versions ensures
# reproducibility. If you update the notebook to use new features, you may
# need to bump the versions accordingly.

langchain-community==0.2.1
pypdf==4.2.0
PyMuPDF==1.24.5
unstructured==0.14.8
markdown==3.6
#jq==1.7.0
pandas==2.2.2
docx2txt==0.8
requests==2.32.3
beautifulsoup4==4.12.3

# Additional dependencies for optional exercises
arxiv==1.4.7
pypdfium2==4.8.0
nltk==3.8.1